form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 2em auto 2em;
  grid-template-columns: 60% 40%;
}
.locale {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.code {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  overflow: auto;
}
.tests {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  border: 1px solid black;
  overflow: auto;
}
input[type=submit] {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
textarea {
}
